.App {
  text-align: center;

}
body{
  background:linear-gradient(to right, #7A36B1,#3B7EAE) no-repeat;
  min-height:100vh;
  height:auto;
  color:white;
  font-family:'Open Sans', 'sans-serif'
}
.suggestions-container {
  max-height:150px;
  overflow-Y:scroll;
  margin:0 auto;
  border-radius:10px;
}
.suggestions-container::after{
  content:'';
  height:200px;
  width:100px;
  background:red;
}
.suggestions-container li {
  list-style-type: none;
}
.suggestion-element{
  padding:5px 0;
  font-size: 14px;
  text-align:left;
  box-sizing: border-box;
  padding-left:15px;

}
.suggestion-element:hover{
  background:#eee;
  cursor: pointer;
}
.card {
  background:white;
  color:black;
  width:270px;
  border-radius:10px;
  box-shadow: 0.2px 0.2px 0.6px  rgb(26, 25, 25);
  padding:20px;
  text-align: left;
  position: relative;
  margin:20px 10px;
}
.suggestions-container {
  color:black;
  background:white;
  width:281px;
  padding-top:25px;
  margin-top:-25px;
}
.suggestions-container li {
  margin-left:-40px;
}
.input-container {
  max-width:750px;
  margin:40px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-input {
  width:270px;
  border-radius:10px;
  border:1.5px solid rgb(209, 208, 208);
  padding:10px 10px 8px 40px;
  font-family:'Open Sans', 'sans-serif';
  font-size:14px;
}

.search-input:focus {
  border:1px solid white;
}
.search-input::placeholder {
  color:black;
  font-family:'Open Sans', 'sans-serif'
}

.search-input:focus::-webkit-input-placeholder {color:transparent;}

.title {
  letter-spacing: 1.2px;
  font-weight: 600;
  margin-top:60px;
}

.city {
  color:#7A36B1;
  font-weight:600;
  font-size:20px;
}
.headline {
  letter-spacing: 0.3px;
  font-weight: 400;
  opacity: 0.9;
  font-size: 19px;
  line-height:2;
}

.cards-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size:0.8rem;
  margin-top:50px;

}
.updated-time {
  text-transform: uppercase;
  font-weight: 600;
  font-size:12px;
}
.cards-container p {
  margin:5px 0;
}
.input-form {
  position: relative;
}
.search-icon{
  width:17px;
  opacity: 0.2;
  position: absolute;
  left:12px;
  top:12px;

}
.values-text {
  margin-right:5px;
}

/*Close btn*/
.close {
  position: absolute;
  right: 15px;
  top: 12px;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 18px;
  width: 1.7px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}



#style-1::-webkit-scrollbar-track
{
	border-radius: 10px;
  background-color: white;
}

#style-1::-webkit-scrollbar
{
  width: 6px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: rgb(196, 193, 193);
}

.error-msg {
  margin-top:20px;
}
/*Media screens*/

@media only screen and (max-width: 745px) {
  .cards-container {
    justify-content: center;
  }
}

@media only screen and (max-width: 420px) {
  .card, .search-input {
    width: 220px;
  }
  .suggestions-container {
    width: 230px;
  }
  .headline {
    padding:0 10px;
  }
}