.App {
  text-align: center;
}
.suggestions-container {
  max-height:110px;
  overflow-Y:scroll;
  width:400px;
  margin:0 auto;
}
.suggestions-container li {
  list-style-type: none;
}
.suggestion-element:hover{
  background:#eee;
  cursor: pointer;
}