
body{
  background:linear-gradient(to right, #7A36B1,#3B7EAE) no-repeat;
  min-height:100vh;
  height:auto;
  color:white;
  font-family:'Open Sans', 'sans-serif';
  text-align: center;
}
.title {
  letter-spacing: 1.2px;
  font-weight: 600;
  margin-top:60px;
}
.headline {
  letter-spacing: 0.3px;
  font-weight: 400;
  opacity: 0.9;
  font-size: 19px;
  line-height:2;
}

/*ScrollBar styles*/
#style-1::-webkit-scrollbar {
  position: relative;
  width: 35px;
  height: 18px; 
}
#style-1::-webkit-scrollbar-thumb {
  height: 6px;
  border: 14.5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.15);
  
}
#style-1::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
#style-1::-webkit-scrollbar-corner {
  background-color: transparent;
}


/*Media queries*/

@media only screen and (max-width: 745px) {
  .cards-container {
    justify-content: center;
  }
}

@media only screen and (max-width: 420px) {
  .card, .search-input {
    width: 220px;
  }
  .suggestions-container {
    width: 230px;
  }
  .headline {
    padding:0 10px;
  }
}